* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}

.logo {
    margin-right: 20px;
}

.logo img {
    width: 50px;
}

.nav-links {
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: lightblue;   
    align-items: center;
    
}

.hamburger {
    font-size: large;
    margin-right: 20px;
    cursor: pointer;
}



.nav-links.active li:hover {
    color: rgb(45, 100, 138);
    font-size: 22px;
    cursor: pointer;
    border-radius: 10px;
    background-color: white;
    border: solid 1px rgb(45, 100, 138);
}

.nav-links li {
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(133, 27, 112);
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px rgb(209, 69, 69);
    padding:10px 15px;
}

@media (min-width: 768px) {

    .hamburger {
        display: none;
    }

    .logo {
        margin-left: 20px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        height: 70px;
    }

    .nav-links {
        height: 2rem;
        display: flex;
        list-style: none;
        gap: 30px;
        margin-right: 20px;
        cursor: pointer;
        font-size: 20px;
        flex-wrap:wrap;
    }
    .nav-links li:hover {
    color: rgb(45, 100, 138);
    font-size: 22px;
    cursor: pointer;
    border-radius: 10px;
    background-color: white;
    border: solid 1px rgb(45, 100, 138);
    
}

.nav-links li {
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(133, 27, 112);
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px rgb(209, 69, 69);
    padding:10px 15px;
}


   
}


.nav-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 2vw;
    gap:5px;
    list-style: none;
    font-size:large;
    
    
    
}

